.sidebar {
    /* overflow: hidden; */
}

.sidebar-items {
    height: 100%;
    list-style: none;
    width: 40px;
    padding: 25px 0;
    margin: 0;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


